-target 1.8
-dontshrink
-dontoptimize
-useuniqueclassmembernames
-adaptclassstrings
-dontusemixedcaseclassnames
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,*Annotation*,EnclosingMethod
-keepnames interface **
-keepparametername
-keepclasseswithmembers public class * { public static void main(java.lang.String[]);}
-keepclassmembers enum * { *; }
-keep interface * extends * { *; }
-ignorewarnings
-keepclassmembers class * {
    @org.springframework.beans.factory.annotation.Autowired *;
    @org.springframework.beans.factory.annotation.Value *;
    @org.apache.ibatis.annotations.Mapper *;
    @org.springframework.stereotype.Component *;
    @org.springframework.context.annotation.Configuration *;
}
##保留getter setter
#-keepclassmembernames class * {
#            void set*(***);
#            void set*(int, ***);
#            boolean is*();
#            boolean is*(int);
#            *** get*();
#            *** get*(int);
#        }
##保留serializable
#-keepnames class * implements java.io.Serializable
#-keepclassmembernames class * implements java.io.Serializable {
#    static final long serialVersionUID;
#    private static final java.io.ObjectStreamField[] serialPersistentFields;
#    !static !transient <fields>;
#    private void writeObject(java.io.ObjectOutputStream);
#    private void readObject(java.io.ObjectInputStream);
#    java.lang.Object writeReplace();
#    java.lang.Object readResolve();
#}
#
## 不警告
#-dontwarn
#
## 不理会警告，否则混淆失败
#-ignorewarnings
#
## 这里加入你不想被混淆的class
#-keep class com.* {
#    *;
#}