<configuration>
    <contextName>example</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TRACE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/trace.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="WARN" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/warn.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.shark.example">
        <appender-ref ref="TRACE" />
        <appender-ref ref="WARN" />
        <appender-ref ref="INFO" />
        <appender-ref ref="ERROR" />
    </logger>

    <root>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>